@using ASP.NET.MVC5.Client.Resources

<footer class="footer">
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-3 col-sm-4 about">
                    <div class="footer-col-inner">
                        <h3>About</h3>
                        <ul>
                            <li><a href="#/about"><i class="fa fa-caret-right"></i>@Messages.AboutUs</a></li>
                            <li><a href="#/contact"><i class="fa fa-caret-right"></i>@Messages.ContactUs</a></li>
                            <li><a href="#/privacy"><i class="fa fa-caret-right"></i>@Messages.PrivacyPolicy</a></li>
                            <li><a href="#/termsOfUse"><i class="fa fa-caret-right"></i>@Messages.TermsAndConditions</a></li>
                        </ul>
                    </div> 
                </div> 
                <div class="footer-col col-md-6 col-sm-8 newsletter">
                    <div class="footer-col-inner">
                        <h3>@Messages.JoinOurMailingList</h3>
                        <p>@Messages.SubscribeMailingListMessage</p>
                        <form class="subscribe-form">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="@Messages.EnterYourEmail" />
                            </div>
                            <input class="btn btn-theme btn-subscribe" type="submit" value="@Messages.Subscribe">
                        </form>

                    </div> 
                </div> 
                <div class="footer-col col-md-3 col-sm-12 contact">
                    <div class="footer-col-inner">
                        <h3>Contact us</h3>
                        <div class="row">
                            <p class="adr clearfix col-md-12 col-sm-4">
                                <i class="fa fa-map-marker pull-left"></i>
                                <span class="adr-group pull-left">
                                    <span class="street-address">College Green</span><br>
                                    <span class="region">56 College Green Road</span><br>
                                    <span class="postal-code">BS16 AP18</span><br>
                                    <span class="country-name">UK</span>
                                </span>
                            </p>
                            <p class="tel col-md-12 col-sm-4"><i class="fa fa-phone"></i>0800 123 4567</p>
                            <p class="email col-md-12 col-sm-4"><i class="fa fa-envelope"></i>enquires@website.com</p>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div> 
    <div class="bottom-bar">

        <div class="container">
            <div class="row">
                <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright &#169; 2014  <a href="#">LMSystem</a></small>
                <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li class="row-end"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul> 
            </div> 
        </div> 
    </div> 
</footer> 