@using ASP.NET.MVC5.Client.Resources
@{
    Layout = null;
}
<script>
    aboutVM = function ($scope, $rootScope) {
        $rootScope.title = "@Messages.About";
    }
</script>

<div class="content container" ng-controller="aboutVM">
    <div class="page-wrapper">
        <header class="page-heading clearfix"
                ng-enumarable
                templateid="breadcrumb-tmpl"
                backurl="'home'"
                backtext="'@Messages.Home'"
                currenttext="'@Messages.About'"></header>
        <div class="page-content">
            <div class="row page-row">
                <article class="welcome col-md-8 col-sm-7">
                    <h3 class="title">@string.Format(Messages.WelcomeToMsg, "LMSystem")</h3>
                    <p><img class="img-responsive" src="@Url.Content("~/App_JS/compounents/collegeGreen/images/750x300-about.jpg")" alt="" /></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras venenatis urna lectus, a euismod metus facilisis sed. Aliquam tristique sapien et tincidunt semper. Mauris ornare, turpis ac molestie molestie, erat nisi placerat ipsum, sit amet imperdiet ipsum lacus eu orci. Suspendisse euismod mollis nibh eu rhoncus. </p>
                    <ul class="custom-list-style">
                        <li><i class="fa fa-check"></i>Lorem ipsum dolor sit ame</li>
                        <li><i class="fa fa-check"></i>Curabitur elit elit</li>
                        <li><i class="fa fa-check"></i>Nunc tincidunt ipsum a risus</li>
                        <li><i class="fa fa-check"></i>Integer vitae nisi a odio</li>
                        <li><i class="fa fa-check"></i>Suspendisse bibendum tempor</li>
                    </ul>

                    <blockquote class="custom-quote">
                        <p><i class="fa fa-quote-left"></i>Viverra magna pellentesque in magnis gravida sit augue felis vehicula vestibulum semper penatibus justo ornare semper Gravida felis platea arcu mus non. Montes at posuere. Natoque.</p>
                        <p class="people"><span class="name">Adam Windsor</span><br><span class="title">Principle, College Green Online</span></p>
                    </blockquote>
                    <p>
                        Morbi semper. Hac euismod bibendum odio sed sociosqu primis magna suscipit facilisi litora viverra eget nibh praesent vehicula luctus Integer nostra ac duis metus orci.

                        Vehicula praesent dolor quam montes fames risus interdum. Tortor lacinia sem aenean sit tellus montes velit ultricies leo eget felis mollis quam. Non odio leo tempus condimentum. Neque. Potenti ornare sapien diam hymenaeos conubia ac. Euismod, venenatis Vulputate sodales morbi aliquet sollicitudin.
                    </p>
                </article><!--//page-content-->
                <aside class="page-sidebar  col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">
                    <section class="widget has-divider">
                        <h3 class="title">Job Vacancies</h3>
                        <ul class="job-list custom-list-style">
                            <li><i class="fa fa-caret-right"></i><a href="#">Learning Support Assistant</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="#">Lecturer - Business Studies</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="#">Lecturer - Computer Science</a></li>
                            <li><i class="fa fa-caret-right"></i><a href="#">Administrative Assistant</a></li>
                        </ul>
                        <a class="btn btn-theme" href="jobs.html">@Messages.FindOutMore</a>
                    </section><!--//widget-->
                    <section class="widget has-divider">
                        <h3 class="title">@Messages.VideoTour</h3>
                        <iframe class="iframe" src="//www.youtube.com/embed/Ks-_Mh1QhMc?rel=0&amp;wmode=transparent" frameborder="0" allowfullscreen=""></iframe>
                    </section><!--//widget-->
                    <section class="widget">
                        <h3 class="title">@Messages.Contact</h3>
                        <p>Suspendisse mollis neque augue, vitae malesuada mi dictum quis. Ut mollis purus vel orci aliquam sagittis. Aliquam erat volutpat. </p>
                        <p class="tel"><i class="fa fa-phone"></i>@Messages.Tel: 0800 123 4567</p>
                        <p class="email"><i class="fa fa-envelope"></i>@Messages.Email: <a href="#">enquires@website.com</a></p>
                    </section><!--//widget-->
                </aside>
            </div><!--//page-row-->
        </div><!--//page-content-->
    </div><!--//page-->
</div><!--//content-->